<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Do What How</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'
	rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
</head>
<body>
	<div id="wrap">
		<div class="container">
			<div class="row">

				<div class="span12 logo">
					<div class="logo_container">
						<h1 class="logo">
							<span class="blue">Do </span><span class="red">What </span><span
								class="green">How</span>
						</h1>
					</div>
				</div>

				<div id="form-region"></div>

			</div>
			
			<div id="statements-region"></div>
			
		</div>
		<div id="push"></div>
	</div>
	<div id="footer">
		<div class="container">Copyright: Do What How - New York 2013</div>
	</div>


	<script id="statement-form-template" type="text/template">
		<div class="span6">
			<div class="row">
					
				<!-- What -->
				<div class="span3">
					<input type="text" name="statewhat" id="what_input" class="eingabe"
						placeholder="...what... (e.g. Salsa)">
				</div>

				<!-- Do -->
				<div class="span3">
					<input type="text" name="statedo" id="do_input" class="eingabe" placeholder="Do... (e.g. dance)">
				</div>

			</div>
		</div>

		<div class="span6">
			<div class="row">

				<!-- How -->
				<div class="span3">
					<input type="text" name="statehow" id="how_input" class="eingabe"
						placeholder="...how (e.g. relaxed)">
				</div>

				<!-- Location -->
				<div class="span3">
					<input type="text" name="location" id="location_input" class="eingabe"
						placeholder="Place (e.g. New York)">
				</div>

			</div>
		</div>
	</script>


	<script id="statement-template" type="text/template">
		<div class="row result_row">
			<div class="span6">
				<div class="row">
					<div class="span3"><%= statewhat %></div>
					<div class="span3"><%= statedo %></div>
				</div>
			</div>
			<div class="span6">
				<div class="row">
					<div class="span3"><%= statehow %></div>
					<div class="span3"><%= statewhat %></div>
				</div>
			</div>
		</div>
	</script>
	
	
	<script src="js/jquery.js"></script>
    <script src="js/json2.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.marionette.js"></script>
    <script src="js/application.js"></script>

	<!--
	<script id="result-details-template" type="text/x-handlebars-template">
		<div class="row">
			<div class="span12">
				<div class="result-details">
					<h1>Details go here!!!!</h1>
				</div>
			</div>
		</div>
	</script>
	-->

</body>
</html>