body{
	background-color: #333333;
}

h1 {
	padding-top: 30px;
	color: #FEFEFE;
	text-align: center;
	font-size: 60px;
	padding-bottom: 50px;
}

label{
	color: #AAAAAA;
}

#question_form {
	display: inline-block;
	font-size: 20px;
}

#question_form label {
	font-size: 20px;
}

#question_form input {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 200px;
	font-size: 20px;
}

.result_container{
	color: white;
}