body{
	background-color: #333;
}

.own_container{
	margin: 0 auto;
}

h1 {
	padding-top: 30px;
	color: #FEFEFE;
	text-align: center;
	font-size: 60px;
	padding-bottom: 50px;
}

label{
	color: #AAAAAA;
}

#question_form {
	display: inline-block;
	font-size: 20px;
}

#question_form label {
	font-size: 20px;
}

#question_form input {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 200px;
	font-size: 20px;
}

.result_container{
	color: white;
}

.result_row {
	color: white;
}

.result_row:hover {
	color: #ddd;
}

.result_entry {
	display: inline-block;
	font-size: 20px;
	width: 190px;
	height: 30px;
	padding: 10px;
	margin-right: 30px;
	background-color: #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	margin-bottom: 10px;
}


